.header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #eff2f4;
  background: #ffffff;
}

.header .container {
  margin: 0 auto;
  width: 60%;
}

.header .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .row .brand {
  padding: 20px 0;
  font-size: 26px;
  color: #112047;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.header .container .row .topmenu {
  display: flex;
  justify-content: flex-end;
}

.header .container .row .topmenu .navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .container .row .topmenu .navbar-nav .nav-item {
  display: inline-block;
  color: #112047;
  text-transform: uppercase;

}

.header .container .row .topmenu .navbar-nav .nav-item:first-child {
  margin-right: 10px;
  font-weight: bold;
}

.header .container .row .topmenu .navbar-nav .nav-item:nth-child(3) {
  margin-left: 25px;
}

.header .container .row .topmenu .navbar-nav .nav-item .btn {
  background: transparent;
  font-size: 18px;
  border: 1px solid #112047;
  border-radius: 6px;
  cursor: pointer;
}

.header .container .row .topmenu .navbar-nav .nav-item .btn.btn-phone {
  border: none;
}

.sidebar {
  display: block;
  left: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 260px;
  overflow: hidden;
  z-index: 1;
  transition: ease-in-out 1s;
  margin-left: -260px;
}

.sidebar.show {
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  border-right: 1px solid #eff2f4;
  display: block;
  z-index: 1;
  position: absolute;
  background-color: white;
  padding: 0;
  color: #112047;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
  transition: ease-in-out 1s;
  margin-left: 0;
}

.sidebar h1 {
  padding: 0 0;
  height: 72px;
  line-height: 72px;
  font-size: 20px;
  color: #112047;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eff2f4;
}

.sidebar .sidebar-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.sidebar .sidebar-content .subheader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #eff2f4;
  border-bottom: 1px solid #eff2f4;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #112047;
}

.sidebar .sidebar-content .link {
  width: 100%;
  padding: 0 0;
  text-decoration: none;
  font-size: 16px;
  color: #112047;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
}

.sidebar .sidebar-content .link i {
  width: 40px;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #eff2f4;
  margin-right: 10px;
}

.sidebar .sidebar-content .link:hover {
  background-color: #112047;
  color: #eff2f4;
}
