.container {
  top: 62px;
  left: 280px;
  position: absolute;
  padding: 15px;
  width: calc(100vw - 280px);
  height: calc(100vh - 62px);
  overflow-y: auto;
  background-color: rgba(199,199,199);
}

.container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.container .row h2 {
  width: 100%;
}

.container .row .card {
  flex: 1;
  border-radius: 10px;
}

.container .row .card .card-header {
  padding: 10px 25px;
  color: #112047;
  background: #eff2f4;
}

.container .row .card .card-body {
  padding: 10px 25px;
  background: rgba(255,255,255,1);
}

.container .row .card .card-body .form-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.container .row .card .card-body .form-group label {
  margin-bottom: 5px;
}

.container .row .card .card-body .form-group .form-control {
  width: 100%;
  padding: 6px;
  border: 1px solid #eff2f4;
  border-radius: 6px;
  outline: none;
}

.container .row .card .card-body .form-group textarea.form-control {
  width: 100%;
  height: 250px;
  padding: 6px;
  border: 1px solid #eff2f4;
  border-radius: 6px;
  outline: none;
  resize: none;
}

.container .row .card .card-body .form-group .form-control:focus {
  border-color: #112047;
}

.container .row .card .card-footer {
  background: rgba(255,255,255,1);
  padding: 10px 25px;
}

.container .row .card .card-footer .btn {
  cursor: pointer;
  background: transparent;
  padding: 5px 15px;
  margin-right: 15px;
  border: 1px solid #112047;
  border-radius: 5px;
  font-weight: bold;
}

.container .row .card .card-footer .btn.btn-primary {
  background: #1d98fe;
  color: white;
}

.container .row .card .card-footer .btn.btn-clear {
  background: darkorange;
  color: #112047;
}

.container .row .card .card-footer .btn.btn-cancel {
  background: red;
  color: white;
}
