<div class="container">
  <div class="row">
    <div class="col">
      <div class="circle blue" id="c3"></div>
      <div class="card" id="login">
        <div class="card-header">
          <h1>CodeBase</h1>
          <h3>Sign in</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="login">
            <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" (click)="loginHandler(login.value)">Sign in</button>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col center bg-dark-blue">
      <div class="circle" id="c1"></div>
      <div class="circle" id="c2"></div>
      <div class="card">
        <div class="card-body">
          <h1 class="welcome-header">Welcome to our community</h1>
          <p>CodeBase is a platform for students, who will help each other. This is the place for you who want to help or who need help.</p>
        </div>
      </div>
    </div>
  </div>
</div>

