.header-wrapper {
  background-color: #112047;
  width: 100%;
  height: auto;
}

.header-wrapper header {
  display: block;
}

.header-wrapper header .container {
  position: relative;
  min-height: 62px;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header-wrapper header .container .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-wrapper header .container .brand .logo {
  width: auto;
  height: 50px;
  margin-right: 20px;
}

.header-wrapper header .container .brand .logo-heading {
  color: #fff;
  font-weight: 600;
  display: inline;
  margin-right: 15px;
  position: relative;
  top: 4px;
  font-size: 29.25px;
  line-height: 44px;
  font-family: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.header-wrapper header .container .main-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-wrapper header .container .main-nav ul#menu-top-menu.clearfix {
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper header .container .main-nav ul#menu-top-menu.clearfix li.menu-item {
  float: none;
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 16px 14px 16px;
  line-height: 22px;
}

.header-wrapper header .container .main-nav ul#menu-top-menu.clearfix li.menu-item a {
  color: #abb8c3;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.header-wrapper header .container .main-nav ul#menu-top-menu.clearfix li.menu-item a:hover {
  color: #fff;
}
