<div class="dashboard" id="dashboard">
  <div class="row">
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-graduation-cap"></i>Students</span></div>
      <div class="card-body"><span class="text-primary">{{studentCount.counter}}</span></div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-users"></i>Online Now</span></div>
      <div class="card-body"><span><span class="online">{{onlineCount.online}}</span> / <span class="offline">{{onlineCount.total}}</span></span></div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-file-word-o"></i>Articles</span></div>
      <div class="card-body"><span class="text-warning">{{articleCount.counter}}</span></div>
      <div class="card-footer"></div>
    </div>
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-folder-open"></i>Forum Posts</span></div>
      <div class="card-body"><span class="text-success">{{forumCount.counter}}</span></div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-rss"></i>Newest Posts</span></div>
      <div class="card-body"></div>
    </div>
    <div class="card">
      <div class="card-header"><span class="card-text"><i class="fa fa-flag"></i>Reportet Posts</span></div>
      <div class="card-body"></div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <span class="card-text"><i class="fa fa-users"></i>Your Team of Students</span>
      </div>
      <div class="card-body">
        <table>
          <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of team">
            <td>{{item.username}}</td>
            <td>{{item.firstname}} {{item.secondname}} {{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td><div class="onlineStatus" [ngClass]="{
            'online': item.onlineStatus == 1,
            'offline': item.onlineStatus == 0
            }"></div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <span class="card-text"><i class="fa fa-hdd-o"></i>Your Student Projects</span>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
