<div class="container">
  <form [formGroup]="accountForm">
    <div class="row">
      <h2>Edit Account</h2>
      <div class="card">
        <div class="card-header">Login Information</div>
        <div class="card-body">
          <div class="form-group">
            <label>Email</label>
            <span class="form-control">{{account.email}}</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Account Information</div>
        <div class="card-body">
          <div class="form-group">
            <label>Username</label>
            <span class="form-control">{{account.username}}</span>
          </div>
          <div class="form-group">
            <label>Instructor</label>
            <select formControlName="instructor_id" class="form-control">
              <option *ngFor="let item of accounts; let a = index" value="{{accounts[a].account_id}}">{{accounts[a].firstname}} {{accounts[a].secondname}} {{accounts[a].lastname}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Role</label>
            <select formControlName="role_id" class="form-control">
              <option *ngFor="let item of roles; let i = index" value="{{roles[i].role_id}}">{{roles[i].role_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>End date</label>
            <input type="date" formControlName="end_date" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" (click)="editHandler(accountForm.value)">Create Account</button>
          <button type="reset" class="btn btn-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

